.header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.wrapper {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 5vmin clamp(1rem, 8vw, 5rem);
    width: 100%;
}

.logo {
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.nav {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.navLink:not(:last-child) {
    margin-right: 0.5rem;
}