.header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.wrapper {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 5vmin clamp(1rem, 8vw, 5rem);
    width: 100%;
}

.logo {
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.addButton {
    background: transparent;
    border: black solid 0.1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-left: 2rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    top: 0;
    transition: top ease 0.1s;
}

.addButton:hover {
    cursor: pointer;
    top: -2px;
}

.nav {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.navLink:not(:last-child) {
    margin-right: 0.5rem;
}